body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.background_blue {
    background-color: darkblue;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 1500px;

}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin: 20px auto;
    width: 95%;
}

.category {
    background: #007BFF;
    color: white;
    padding: 20px 5px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: x-large;
}

.point {
    background: darkblue;
    color: white;
    padding: 20px;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 50px;
}

.hidden {
    display: none;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px);
}

.used {
    background: #6c757d;
    cursor: not-allowed;
}

#scoreDisplay {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.score {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    border: 5px solid #007BFF;
    border-radius: 5px;
    background-color: #007BFF;
    width: 15%;
    color: white;
}

.categoryAndValue {
    height: 100px;
    color: white;
    font-size: 30px;
}

.question {
    height: 400px;
    vertical-align: center;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    font-size: 50px;
}

.score_button {
    font-size: 30px;
    width: 50px;
    height: 40px;
}

#backButton{
    width: 500px;
}

#dailyDoubleScreen{
    font-size: 180px;
    height: 400px;
    vertical-align: center;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 150px;
}

.revealButton{
    width: 250px;
    height: 75px;
    font-size: 40px;
}